<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
  
<mapper namespace="com.example.waterfall_memory.dao.FallDao">
	<!-- FIXME ,node.nPointTime加进去就会报错 怎么查出来
	 -->
	<select id="getMyFall"
		resultType="com.example.waterfall_memory.dto.FallNode">
		SELECT node.wId,node.nPoint,node.nDrag,node.nState,node.ntId,node.nPointTime 
		FROM  node_type NATURAL JOIN node NATURAL JOIN words 
		WHERE openId = #{openId}
		AND ((TIMESTAMPDIFF(SECOND,nPointTime,#{time}))/100-nPoint)>0;
	</select>
	<select id="wordDetail"
	resultType="com.example.waterfall_memory.entity.Word">
	SELECT * FROM words WHERE wId=#{wId};
	</select>

	<update id="updateNode" 
		parameterType="com.example.waterfall_memory.entity.Node">
		update node
			<set>
			    nPoint=#{nPoint},
			    nPointTime=#{nPointTime},
			    nDrag=#{nDrag},
			</set>
				where wId=#{wId} and openId=#{openId};
	</update>
</mapper>